<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .h2 {
            text-align: center;
        }
        label {
            font-size: 20px;
            color: #000;
        }
        .form-control {
            margin-bottom: 2rem;
        }
    </style>
</head>
{{> nav.hbs}}

<body>
    <div class="row container">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <h2>Animals</h2>

            <button class="btn btn-outline-primary">Enter a new Animal</button>

            <table class="table">
                <thead>
                    <th>Animal name</th>
                    <th>endangered</th>
                    <th>Edit status</th>
                    <th>Delete</th>

                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>

            <form class="form border border-success p-4" action="/save_animal" method="POST">

                <h2>Enter new animal</h2>

                <div class="form-feld mb">
                     <label for="new-name">Animal name</label>
                <input class="form-control" id="new-name" type="text" placeholder="Ex. Black mountain Rhino">
                </div>

                <div class="form-field">
                <label class="form-label" for="new-endangered">Is this animal endangered</label>
                <select class="form-control" name="new-endangered" id="new-endangered">
                    <option value="no">NO</option>
                    <option value="yes">YES</option>
                </select>
                </div>

                <button class="btn btn-outline-primary form-control">Save</button>

            </form>



            <form action="/update-animal" method="POST">

                <h2>Update animal</h2>

                <div class="form-field">
                    <label class="form-label" for="update-name">Name: </label>
                <input class="form-control" id="update-name" type="text" >
                </div>
                
                <label class="form-label" for="update-endangered">Is this animal endangered</label>
                <select class="form-control" name="update-endangered" id="update-endangered">
                    <option value="no">NO</option>
                    <option value="yes">Yes</option>
                </select>

                <button class="btn btn-outline-primary form-control">Update</button>

            </form>

            
        </div>
    </div>
    <div class="col-md-3"></div>

</body>

</html>