<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlife_tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="row container">
            <div class="col-md-5">

                <h2>Track an animal</h2>

                <label for="">Animal sighted</label>
                <select name="animal" id="">
                    <option value="endangered"> White Rhino</option>
                    <option value="endangered"> Elephant</option>
                </select>

                <div class="endangrered">

                    <p>Please give more details for the endangered animal</p>

                    <label for="health">Health Satatus</label>
                    <select name="health" id="">
                        <option value="sick">Sick</option>
                        <option value="healthy">Healthy</option>
                        <option value="fine">OK</option>
                    </select>

                    <label for="age">What's the animal age</label>
                    <select name="age" id="">
                        <option value="sick">Sick</option>
                        <option value="healthy">Healthy</option>
                        <option value="fine">OK</option>
                    </select>
                </div>

                <label for="location">Enter Zone</label>
                <select name="location" id="">
                    <option value="zone A">Zone A</option>
                    <option value="zone A">Zone b</option>
                    <option value="zone A">Zone c</option>
                </select>

                <label for="ranger">Name of the Ranger</label>
                <select name="location" id="">
                    <option value="zone A">Peter</option>
                    <option value="zone A">Joan</option>
                    <option value="zone A">Robert</option>
                </select>

            </div>

            <div class="col-md-5">
                <h2>Sitings Summary</h2>

            </div>

        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

        })

    </script>
</body>

</html>